<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml" />
    <springProfile name="dev,staging">
        <logger name="com.viti.controllers" level="DEBUG" additivity="false">
            <appender-ref ref="FILE" />
        </logger>>
    </springProfile>
    <springProfile name="production">
        <logger name="com.viti.controllers" level="WARN" additivity="false">
            <appender-ref ref="FILE" />
        </logger>
    </springProfile>
 </configuration>